body, html {
	font-family: OpenSans;
	font-size: 10px;
	padding: 0;
	margin: 0;
}

#wrapper {
	width: 740px;
	margin: auto;
	font-size: 150%;
}

#wrapper article {
	padding: 20px 0;
	margin: 20px 0;
	border-top: 1px solid #ddd;
}

#wrapper article h2 {
	font-size: 335%;
	margin: 0;
}

#wrapper article img {
	width: 100%;
}

#loading {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #a00;
	color: #efefef;
	font-size: 150%;
	padding: 10px 0;
	text-align: center;
	display: none;

	-webkit-animation: doit 1s infinite;
}

@-webkit-keyframes doit {
	0% { color: #fff; background-color: #a00; }
	50% { color: #aaa; background-color: #c00; }
	100% { color: #fff; background-color: #a00; }
}